
/* 全般 */


body{
    /* background-color: rgb(10, 10, 61); */
    /* color: aliceblue; */
    margin: 0px;
}

ul{
    list-style-type: none;
}

/* --- リンクテキストの色 --- */
a{
    text-decoration: none;
}

ul.nav a:link {
    color: rgb(10, 10, 61);
}
ul.nav a:visited {
    color: rgb(10, 10, 61);
}
ul.nav a:hover {
    color: rgb(10, 10, 61);
}
ul.nav a:active {
    color: black;
}

/* display grid絡み */
.nav{
    background-color:rgb(130, 130, 230);
    /* color: rgb(10, 10, 61); */
    font-size: 80%;
    height: 50px;
    display: grid;
    text-align: center;
    margin: 20px 0px 20px 0px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    /* これは縦にいくつ区切り線を入れるか */
}

ul.nav li{
    /* background-color: rgb(152, 201, 243); */
    /* margin: 0% 10% 0% 10%; */
    margin: auto;
    font-size: 120%;
    /* padding: 15px; */
}

#n1{
    /* width:100px; */
    grid-column: 1/2;
    grid-row:1/1;
}

#n2{
    /* width:100px; */
    grid-column: 2/3;
    grid-row:1/1;
}

#n3{
    /* width:100px; */
    grid-column: 3/4;
    grid-row:1/1;
}
#n4{
    /* width:100px; */
    grid-column: 4/5;
    grid-row:1/1;
}
#n5{
    /* width:100px; */
    grid-column: 5/6;
    grid-row:1/1;
}

#n6{
    /* width:100px; */
    grid-column: 6/7;
    grid-row:1/1;
}

/* 見出し関連 */
div.heading {
    width: 600px;
    margin-bottom: 1em;
    padding: 4px 0px 4px 0px;
    border-bottom: 1px rgb(10, 10, 61) solid;
    }

div.heading h1 {
    margin: 0;
    padding: 3px 3px 0 5px;
    border-left: 5px rgb(130, 130, 230) solid;
    font-size: 200%;
    line-height: 200%;
}

/* 部分的に */
.m1{
    margin: 10%;
}

footer{
    text-align: center;
    background-color: black;
    color: aliceblue;
}

/* .wid{
    width: 100%;
} */
.cimg{
    margin: 0px 100px 0px 100px;
}